<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>profile.html</title>
    </head>
    <body>
        <h3>사용자 정보 입니다.</h3>
        <p>
            아이디:
            <strong><%=user.kakao.id%></strong>
        </p>
        <p>
            이름:
            <strong><%=user.kakao.name%></strong>
        </p>
        <img src="<%=user.kakao.kakao.properties.profile_image%>" alt=""/>
    </body>
</html>
