<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>인덱스 페이지</title>
    </head>
    <body>
        <p>
            <%=title%>
            프레임 워크 입니다. by kimgura
        </p>
        <ul>
            <li>
                <a href="/users/signup_form">회원가입</a>
            </li>
            <li>
                <a href="/users/signin_form">로그인</a>
            </li>
            <li>
                <a href="/users/logout">로그아웃</a>
            </li>
            <li>
                <a href="/users/auth/kakao">카카오 계정으로 로그인</a>
            </li>
            <li>
                <a href="#">개인 전용 공간</a>
            </li>
        </ul>
    </body>
</html>
