<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>test.ejs</title>
    </head>
    <body>
        <h3>개인 정보 입니다.</h3>
        <p>
            <strong><%=id%></strong>
            회원님 반갑습니다.
        </p>
        <a href="/">인덱스로...</a>
    </body>
</html>
