<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>detail.ejs</title>
    </head>
    <body>
        <h3>자세히 보기 페이지</h3>
        <img src="/resource/images/image<%=index%>.png" alt=""/><br>
        <a href="/">인덱스로</a>
    </body>
</html>
