<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>인덱스 페이지</title>
    </head>
    <body>
        <p>
            <%=title%>
            프레임 워크 입니다. by kimgura
        </p>
        <ul>
            <li>
                <a href="/board/insertform">파일 업로드</a>
            </li>
						<li>
                <a href="/board/list">파일 목록보기</a>
            </li>
        </ul>
    </body>
</html>
