<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>/views/auth/notify.ejs</title>
    </head>
    <body>
        <script type="text/javascript">
            alert('<%=msg%>');
            location.href = '<%=location%>';
        </script>
    </body>
</html>
